@font-face {
  font-family: "MyCustomFont";
  src: url("../assets/fonts/MouseMemoirs-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-blue: #1B1C3C;
  --medium-blue: #382872;
  --button-color: linear-gradient(135deg, #ff55ff, #aa33ff);
  --background-color: linear-gradient(135deg, #111125, #382872);
  --blue: #382872;
  --text-color: whitesmoke;
}

html, body {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: "MyCustomFont", sans-serif;
}

.App {
    background: var(--background-color);
}

button:hover {
    animation: bounce 0.4s ease-in-out;
    &:hover,
    &:hover:after {
        transform: scale(1.1);
    }
}

@keyframes bounce {
    0% { transform: scale(1); }
    40% { transform: scale(1.05); }
    60% { transform: scale(0.95); } 
    80% { transform: scale(1.05); }
    100% { transform: scale(1.1); }
}

.home-page {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/images/background-desktop.svg");
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .logo {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        margin-bottom: -50px;
    }
    .container {
        position: relative;
        border-radius: 60px;
        border: 5px solid blue;
        padding: 40px;
        width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 15px blue;
        background: linear-gradient(135deg, rgba(17, 17, 37, 0.5), rgba(56, 40, 114, 0.5));
    }
    button {
        margin: 20px auto;
    }
}

.play-button {
    background: var(--button-color);
    border-radius: 50%;
    width:fit-content;
    height: fit-content;
    border: 4px solid #aa33ff7a;
    box-shadow: 0 0 20px #aa33ff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
        padding: 30px; //
        align-self: center;
    }
} 

.default-button {
    background: rgba(0, 51, 204, 1);
    border: 4px solid rgba(0, 102, 255, 1);
    border-radius: 20px;
    color: var(--text-color);
    padding: 8px 15px;
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 102, 255, 0.6); 
    letter-spacing: 2px;
}

.quit-button {
    background: var(--button-color);
    border: 4px solid #aa33ff7a;
}

.blurred {
    opacity: 0.05;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
} 
.paused-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .paused-header {
        margin-top: -40px;
        color: var(--text-color);
        z-index: 2001;
        h2 {
            font-size: 72px;
        }
    }
    .paused {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(135deg, rgba(17, 17, 37, 0.5), rgba(56, 40, 114, 0.5));
        width: 90%;
        max-width: 400px;
        border-radius: 60px;
        text-align: center;
        box-shadow: 0 0 15px blue;
        z-index: 1001;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        button {
            margin: 20px auto;
        }
    }
}

.end-game-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .end-game-header {
        margin-top: -40px;
        color: var(--text-color);
        z-index: 2001;
        h2 {
            font-size: 72px;
        }
    }
    .end-game {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(135deg, rgba(17, 17, 37, 0.5), rgba(56, 40, 114, 0.5));
        width: 90%;
        max-width: 400px;
        border-radius: 60px;
        text-align: center;
        box-shadow: 0 0 15px blue;
        z-index: 1001;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        button {
            margin: 20px auto;
        }
    }
    h3 {
            color: var(--text-color);
            letter-spacing: 2px;
            margin-top: 10px;
        }
        i {
            color: var(--text-color);
            margin-top: 40px;
            margin-bottom: 20px;
        }
}

.header {
    text-align: center;
    margin: 30px auto;
    letter-spacing: 2px;
    h2 {
        font-size: 54px;
        text-align: center;
        color: whitesmoke;
        padding: 10px 0;
    }
    button {
        position: fixed;
        left: 30px; 
        top: 30px;
        width: 80px;
        height: 80px;
        background: var(--button-color);
        border-radius: 50%;
        border: 4px solid #aa33ff7a;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            padding: 5px;
        }
    }
}

.health-bar {
    position: fixed;
    right: 30px; 
    top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img {
        padding: 5px;
    }
}

.progress {
    display: flex;
    align-items: center;
    position: relative;
    width: 150px;
    height: 40px;
    padding: 5px;
    background-color: var(--text-color);
    border-radius: 20px;
    margin-right: 10px;
    span {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        font-weight: bold;
        color: var(--dark-blue);
    }
}

.progress-bar{
    height: 25px;
    border-radius: 20px;
    background: var(--medium-blue);
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.game-rules-container {
    background: var(--text-color);
    color: var(--dark-blue);
    padding: 50px;
    border-radius: 50px;
    font-size: 22px;
    letter-spacing: 1px;
}

.categories {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 40px;
    button {
        margin: 10px;
    }
}

.selected-word-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 30px auto;
    .selected-word-letter {
        display: flex;
        align-items: flex-end; 
        justify-content: center; 
        background: var(--text-color);
        color: black;
        font-size: 48px;
        width: 70px;
        height: 80px;
        border-radius: 20px;
        padding-bottom: 3px;
    }
    .selected-word-empty {
        display: block; //
        width: 100%; //
        height: 0; //
        background: transparent;
        border-radius: 20px;
        padding-bottom: 5px;
    }
}

.letters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 30px;
    .letter {
        background: var(--text-color);
        color: black;
        font-size: 36px;
        width: 60px;
        height: 70px;
        border-radius: 20px;
    }
}

@media (max-width: 768px) {
    .home-page {
        background-image: url("../assets/images/background-tablet.svg");
    }
    .header {
        h2 {
            font-size: 36px;
        }
    }
    .game-rules-container {
        width: 80%;
        font-size: 16px;
    }

    .categories {
        gap: 0;
        width: 90%;
        margin: 20px auto;
        justify-content: center;
        button {
            margin: 10px;
        }
    }

    .selected-word-container {
        gap: 5px;
        width: 90%;
        margin: 20px auto;
        .selected-word-letter {
            font-size: 36px;
            width: 50px;
            height: 60px;
        }
    }

    .letters-container {
        gap: 5px;
        width: 90%;
        .letter {
            font-size: 36px;
            width: 50px;
            height: 60px;
        }
    }
    .return-button, .play-button, .quit-button {
        transform: scale(0.9);
    }
}

@media (max-width: 375px) {
    .home-page {
        background-image: url("../assets/images/background-mobile.svg");
    }
    .header {
        h2 {
            font-size: 24px;
        }
    }
    .progress {
        width: 100px;
    }
    .game-rules-container {
     padding: 15px;
     font-size: 14px;
    }
    .categories {
        button {
            margin: 8px;
            font-size: 20px;
        }
    }
    .selected-word-container {
        gap: 1px;
        .selected-word-letter {
            font-size: 18px;
            width: 30px;
            height: 40px;
        }
    }

    .letters-container {
        gap: 3px;
        .letter {
            font-size: 24px;
            width: 40px;
            height: 50px;
        }
    }
    .header button {
        left: 15px; 
        top: 15px;
    }
    .return-button, .play-button, .quit-button {
        transform: scale(0.7);
    }
    .default-button {
        transform: scale(0.9);
    }
    .health-bar {
        transform: scale(0.7);
    }
    .game-board-header {
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .header {
        margin: 30px 5px;
    }
    .home-page {
        .logo {
            transform: scale(0.7);
            margin-bottom: -90px;
        }
        .container {
            padding: 40px;
            width: 330px;
        }
    }
}

/*# sourceMappingURL=index.scss.map */